@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

@theme {
    --breakpoint-xs: 480px;

  /* Palette Colors */
  --color-dark-base: #1E1E1E;    /* Fondo principal */
  --color-accent-coral: #FF5A5F;    /* Acento vibrante (botones/CTA) */
  --color-light-gray: #E0E0E0;    /* Texto principal */
  --color-muted-gray: #7A7A7A;  /* Texto secundario */
  --color-gold-accent: #D4AF37;     /* Acento secundario (hover/detalles) */
}
@plugin "daisyui";