@import "tailwindcss";

@theme {
    --breakpoint-xs: 480px;

  /* Palette Colors */
  --color-foreground: #141414;
  --color-border: #e3e8eb;
  --color-background: #fdfdfd;
  --color-primary: #2a4b7c;
  --color-secondaryColor: #f1c84b;
}
@plugin "daisyui";